.intro-header{
  /*both purpose and my name*/
  width: auto;
  height: 100px;
  border: white;
  background: fixed;
  text-align: center;
  color: #333;
  font-family: georgia, sans-serif;
  padding-bottom: 10px;
}

.image{
  /*background image*/
  width: auto;
  height: 100px;
  border: white;
  background: fixed;
  text-align: center;
  position: relative;
  padding: 10px;
  margin-bottom: 800px;
}

.professional-bio{
  /*only addresses the "professional bio"*/
  color: #333;
  font-family: georgia, sans-serif;
  font-size: 14px;
  text-align: center;
}

.body-text{
  color: #333;
  font-family: georgia, sans-serif;
  margin: 20px 200px 200px 200px;
	width: 1600px;
	float: left;
  padding-bottom: 10px;
}

.external-profiles-left{
  display: inline;
  bottom: 2px;
  float: left;
  padding-left: 25px;
}

.external-profiles-right{
  display: inline;
  bottom: 2px;
  float: left;
  padding-left: 25px;
}

p, ul{
  /*paragraph/list specific*/
  font-size: 18px;
}

ul{
  list-style: none;
}
