.intro-header{
  /*both purpose and my name*/
  width: auto;
  height: 100px;
  border: white;
  background: fixed;
  text-align: center
  color: #333;
  font-family: Palatino, Arial, sans-serif
}

.image{
  /*background image*/
  width: auto;
  height: 100px;
  border: white;
  background: fixed;
  text-align: center
}

.professional-bio{
  /*only addresses the "professional bio"*/
  color: #333;
  font-family: Palatino, Arial, sans-serif;
  font-size: 14px
  text-align: center
}

h1, h2{
  color: #333;
  font-family: Palatino, Arial, sans-serif;
  text-align: center
}

p, ul{
  /*paragraph/list specific*/
  font-size: 18px
  color: #333;
  font-family: Palatino, Arial, sans-serif;
  text-align: center
}

ul{
  list-style: none
}
